<!-- PAID
PRE_PROCESSING
AWAITING_PAYMENT
EXPIRED
CANCELLED -->
<ng-container *ngIf="paymentStatus">
  <!-- <app-modal-dialog-static [status]="paymentStatus.status==paymentStatusEnum.PAID"></app-modal-dialog-static>  -->
  <div class="modal-dialog">
    <div class="modal-content p-4">
      <div class="modal-body text-center">
        <div class="centered-modal--icon mt-3">
          <i *ngIf="paymentStatus.status==paymentStatusEnum.PAID" class="fa-check-circle fas text-success"></i>
          <i *ngIf="paymentStatus.status==paymentStatusEnum.PRE_PROCESSING||paymentStatus.status==paymentStatusEnum.AWAITING_PAYMENT"
            class="fa-times-circle fas text-warning"></i>
          <i *ngIf="paymentStatus.status==paymentStatusEnum.EXPIRED||paymentStatus.status==paymentStatusEnum.CANCELLED"
            class="fa-times-circle fas text-danger"></i>
        </div>

        <div class="centered-modal--data mt-4">
          <h2
            [ngClass]="{'text-success': paymentStatus.status==paymentStatusEnum.PAID,'text-warning': paymentStatus.status==paymentStatusEnum.PRE_PROCESSING||paymentStatus.status==paymentStatusEnum.AWAITING_PAYMENT ,'text-danger': paymentStatus.status==paymentStatusEnum.EXPIRED||paymentStatus.status==paymentStatusEnum.CANCELLED}"
            class="centered-modal--data__h2  font-weight-bold mb-4">
            <ng-container *ngIf="paymentStatus.status==paymentStatusEnum.PAID">
              {{"shared.theRequestHasBeenSentSuccessfully"|translate}}</ng-container>
            <ng-container
              *ngIf="paymentStatus.status==paymentStatusEnum.EXPIRED||paymentStatus.status==paymentStatusEnum.CANCELLED">
              {{"shared.theRequestHasNotBeenSent"|translate}}</ng-container>
          </h2>
          <p class="centered-modal--data__p font-weight-bold">
            <ng-container *ngIf="paymentStatus.status==paymentStatusEnum.PAID">
              {{"shared.yourRequestHasBeenSuccessfullySentAndIsAwaitingReview"|translate}}</ng-container>
            <ng-container
              *ngIf="paymentStatus.status==paymentStatusEnum.EXPIRED||paymentStatus.status==paymentStatusEnum.CANCELLED">
              {{"shared.anErrorHasOccurredDuringThePaymentProcess"|translate}} </ng-container>
          </p>
        </div>

        <div class="centered-modal--submit mt-5">
          <a [routerLink]="[ '/mc-orders']" class="btn btn-primary">{{"ordersRecord.viewOrders"|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
